@model PracticeMVC.Models.Student

<center>

    <h1>Student Details</h1>
    <br />
    <p><b>PRN:</b> @Model.s_prn</p>
    <p><b>NAME:</b> @Model.s_name</p>
    <p><b>FEES:</b> @Model.s_fees</p>
</center>
